@page "/"

@if (ServerStateViewModel.IsConnected && CurrentUserViewModel.IsLoggedIn)
{
    <Tabs>
        <TabPanel Text="Skill Ratings" IsDefaultActive="true">
            <div class="p-10">
                <SkillRatingListView />
            </div>
        </TabPanel>
        <TabPanel Text="User Notable Highlights">
            <div class="p-10">
                <NotableHighlightsListView />
            </div>
        </TabPanel>
    </Tabs>
}